<h2>Packlisten vom Typ {{ packingListType }}</h2>

<mat-list>
  @for (simplePackingList of (packingLists$ | async); track
  simplePackingList.key) {
  <mat-list-item>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div style="display: flex; align-items: center">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <a
          mat-list-item
          routerLink="/packinglist/{{ simplePackingList.key }}"
          >{{ simplePackingList.name }}</a
        >
      </div>
      <button
        mat-icon-button
        (click)="onPackingListDelete($event, simplePackingList)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
  }
</mat-list>

<button
  mat-raised-button
  color="primary"
  routerLink="/packinglist/new/{{ packingListType }}"
>
  <mat-icon>add</mat-icon>
  Packliste erstellen
</button>
